@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nunito:wght@400;700&display=swap");
/*
font-family: 'Caveat', cursive;
font-family: 'Nunito', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.header {
  width: 100%;
  height: 6rem;
  background-color: #000;
}
.main {
  width: 100%;
  height: calc(100vh - 12rem);
  background-image: url(./assets/img/drozd.jpg);
  background-size: cover;
  transition: 0.8s ease;
}
.footer {
  width: 100%;
  height: 6rem;
  background-color: #000;
}
.wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  height: inherit;
}
.header-container {
  width: 1240px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 5rem;
  height: 5rem;
  fill: #fff;
  transition: 0.6s;
  padding-top: 0.5rem;
  cursor: pointer;
  margin-left: 2rem;
}
.logo:hover {
  fill: #bdae82;
}
.nav {
  width: 80rem;
  margin-right: 2rem;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  font-size: 3.2rem;
  font-family: "Caveat", cursive;
  font-weight: 400;
  line-height: 4.8rem;
  color: #fff;
  transition: color 0.6s;
}
.nav-link:hover,
.nav-link:active {
  color: #bdae82;
}
.footer-container {
  width: 1240px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}
.footer-text {
  font-size: 3.2rem;
  font-family: "Caveat", cursive;
  font-weight: 400;
  line-height: 4.8rem;
  color: #fff;
}
.rss {
  width: 12rem;
  height: 4rem;
  fill: #fff;
  transition: 0.6s;
  margin-right: 2rem;
}
.rss:hover {
  fill: #bdae82;
}
.main-container {
  width: 1240px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: transparent;
  border: none;
}
.play {
  opacity: 0;
  height: 10rem;
  fill: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}
.play:hover {
  fill: #bdae82;
}
.active {
  color: #bdae82;
  fill: #bdae82;
}
.slowlyHide {
opacity: 0;
}
.slowlyShow {
opacity: 1;
}

@media screen and (max-width: 1024px) {
.header {
height: 5rem;
}
.main {
height: calc(100vh - 10rem);
}
.footer {
height: 5rem;
}
.wrapper {
max-width: 1024px;
width: 100%;
}
.header-container {
width: 1024px;
}
.logo {
width: 4rem;
height: 4rem;
}
.nav {
width: 60rem;
}
.nav-link {
font-size: 2.8rem;
line-height: 4.2rem;
}
.footer-container {
width: 1024px;
}
.footer-data {
width: 26rem;
}
.footer-text {
font-size: 2.8rem;
line-height: 4.2rem;
}
.rss {
width: 10rem;
height: 4rem;
}
.main-container {
width: 1024px;
}
.play {
height: 8rem;
}
}
 @media screen and (max-width: 768px) {
.wrapper {
max-width: 768px;
width: 100%;
}
.header-container {
width: 768px;
}
.nav {
width: 50rem;
}
.footer-container {
width: 768px;
}
.footer-data {
width: 26rem;
}
.main-container {
width: 768px;
}
}
@media screen and (max-width: 425px) {
.header {
height: 4rem;
}
.main {
height: calc(100vh - 8rem);
}
.footer {
height: 4rem;
}
.wrapper {
max-width: 425px;
width: 100%;
}
.header-container {
width: 425px;
}
.logo {
width: 3rem;
height: 3rem;
}
.nav {
width: 30rem;
}
.nav-link {
font-size: 1.8rem;
line-height: 2.7rem;
}
.footer-container {
width: 425px;
}
.footer-data {
width: 18rem;
}
.footer-text {
font-size: 1.8rem;
line-height: 2.7rem;
}
.rss {
width: 6rem;
height: 4rem;
}
.main-container {
width: 425px;
}
.play {
height: 6rem;
}
}
/* @media screen and (max-width: 375px) {

} */
/* @media screen and (max-width: 320px) {

} */